/* General Styles */
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #ffffff;
    font-weight: bold;
    background-size: cover;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background-color: #ffffff; }
    100% { background-color: #f4f4f4; }
}

header {
    background-color: #FF9933; /* Saffron */
    color: #000080; /* Navy Blue */
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #FF8000; /* Darker Saffron */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000080; /* Navy Blue */
    text-decoration: underline;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #006400; /* Dark Green */
    transform: scale(1.1);
}

main {
    padding: 20px;
    margin: 20px 0;
    background-color: #FFFFFF; /* White */
    color: #000080; /* Navy Blue */
    border: 1px solid #FF9933; /* Saffron */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h2 {
    color: #138808; /* Green */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.project {
    background-color: #ffffff; /* White */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #138808; /* Green */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: #0d5e06; /* Darker Green */
}

#contact-form {
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: #FFFFFF; /* White */
    border: 1px solid #138808; /* Green */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

#contact-form label {
    margin: 5px 0;
    color: #000080; /* Navy Blue */
    font-weight: normal;
}

#contact-form .contact-info {
    display: grid;
    gap: 10px;
    color: #000080; /* Navy Blue */
}

.contact-info p {
    margin: 5px 0;
    font-size: 16px;
}

.contact-info a {
    color: #FF9933; /* Saffron */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #FF8000; /* Darker Saffron */
}
